<%- include header %>
<%- include header_main %>
<div class="page-article">
	<div class="article content">
		<h2><%= post.title %></h2>
		<p>
			<% if(user && user.name === post.name){ %>
		  	<a href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" type="button" class="btn btn-default btn-sm" id="eidt" >编辑</a>
		  	<a type="button" class="btn btn-default btn-sm" id="del" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" >删除</a>
			<% } %>
		</p>
		<p class="info">
		  	作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
		  	日期：<%= post.time.minute %>
		</p>
		<p><%- post.post %></p>
	</div>
	
	<h2>留言板：</h2>	
	<div class="comments content">
	</div>

	<h2>游客留言：</h2>		
	<div class="newComment content">
		<form action="post">
			<div class="form-group">
				<p>昵称：</p>
				<input type="email" class="form-control" name="visitorName" placeholder="请输入您的昵称">
			</div>
			<div class="form-group">
				<p>邮箱地址：</p>
				<input type="email" class="form-control" name="visitorEmail" placeholder="请输入您的邮箱">
				<p class="help-block">该邮箱仅方便博主与您取得联系，并且承诺不会泄露您的邮箱</p>
			</div>
			<div class="form-group">
				<p>留言内容：</p>
				<textarea class="form-control" rows="5" placeholder="请输入留言内容"></textarea>
			</div>
			<button type="submit" class="btn btn-default">提交</button>
		</form>
	</div>

</div>
<%- include footer_main %>
<%- include footer %>