<%- include header %>
	<p>
		<% if(user && user.name === post.name){ %>
	  	<a href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" type="button" class="btn btn-default btn-sm" id="eidt" >编辑</a>
	  	<a type="button" class="btn btn-default btn-sm" id="del" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" >删除</a>
		<% } %>
	</p>
	<p class="info">
	  	作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
	  	日期：<%= post.time.minute %>
	</p>
	<p><%- post.post %></p>
<%- include footer %>