<%- include header %>
<%- include header_main %>

<div class="clearfix">
	<form method="get" action="/blog">	
		<ul class="rank">
			<li>
				<label for="rank-time">按最新发布时间排序</label>
				<input id="rank-time" type="submit" name="rank" value="time" style="display: none;"></li>
			<li>
				<label for="rank-views">最多浏览次数排序</label>
				<input id="rank-views" type="submit" name="rank" value="views" style="display: none;"></li>
			<li>
				<label>搜索</label>
				<input type="search" class="search form-control" name="search" placeholder="请输入搜索关键字" />
				<button type="submit" class="search-btn btn btn-default">搜索</button>
			</li>
		</ul>
	</form>
</div>
<div class="blogBox">

	<% posts.forEach(function (post, index){ %>

		<a class="blog"  href="<%= post.time.day %>/<%= post.title %>">
			<p>

				<h3><%= post.title %></h3></p>

			<p>

				<span>日期：<%= post.time.minute %></span>
				<span>阅读：<% if (post.views) { -%><%= post.views %>次<% } else { -%>0次<% } -%></span>
				<span>评论：<%= post.comments.length %>人</span>
								
			</p>
		</a>

	<% }) %>
</div>

<%- include footer_main %>
<%- include footer %>