<%- include header %>
<%- include header_main %>
<% posts.forEach(function (post, index){ %>
	<div class="articleBox">
		<p>
			<h3><a href="<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h3></p>
		<p>
			日期：<%= post.time.minute %></p>
		<p><%- post.post %></p>	
	</div>
<% }) %>
<%- include paging %>
<%- include footer_main %>
<%- include footer %> 