<%- include header %>
<form method="post" action="/edit/<%= pname %>/<%= pday %>/<%= ptitle %>">
	标题：<br />

	<input type="text" name="title" id="title" value="<%= ptitle %>" disabled="disabled"  placeholder="请输入标题">
	正文：<br />

	<textarea rows="8" class="form-control" name="post" placeholder="请输入正文内容" id="mytextarea" ></textarea><br />

	<input type="submit" class="btn btn-primary btn-lg" value="保存修改" />
</form>
<%- include footer %>