<%- include header %>
<form method="post" action="/edit/<%= post.name %>/<%= post.day %>/<%= post.title %>">

	标题：<br />	
	<div class="form-group">
	  	<input type="text" name="title" class="form-control" name="title" id="title" value="<%= post.title %>" disabled="disabled"  />
	</div>

	正文：<br />
	<textarea rows="8" class="form-control" name="post"  id="mytextarea">
		<%= post.post %>
	</textarea><br />

	<input type="submit" class="btn btn-primary btn-lg" value="保存修改" />
</form>
<%- include footer %>